[Unit]
Description=Resticly backup trigger
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment="RESTICLY_DEBUG=true"
ExecStart=%h/.local/bin/resticly %i %j
ExecStartPost=%h/.local/bin/resticly %i check
Restart=on-failure
RestartSec=40m

[Install]
WantedBy=default.target
